<app-progress-spinner [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="loading">
</app-progress-spinner>

<div *ngIf="errorMessage">
  <div class="alert alert-danger alert-dismissible" #errorMessageAlert>
    <div [innerHTML]="errorMessage"></div>
    <button type="button" class="close" aria-label="Close" (click)="closeErrorMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<form novalidate>
  <mat-card>
    <mat-card-title>Settings</mat-card-title>
    <mat-card-content class="my-3">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8 editable-table">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef> Value! </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="{{element.link}}" target="_blank" *ngIf="element.link; else elseBlock">{{element.value}}</a>
            <ng-template #elseBlock> {{element.value}} </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; let e = index; columns: displayedColumns;"></mat-row>
      </mat-table>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="shareSpreadsheets()" color="accent">
        <mat-icon>share</mat-icon> Reshare spreadsheets
      </button>
    </mat-card-actions>
  </mat-card>

</form>